@import 'variables';
@import 'personal';
@import 'teaser';
@import 'skills';


body {
  font-family: $font-main;
  background: #fff;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 2rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}